OLLAMA_API_KEY=

VITE_SUPABASE_URL=https://ulsctzkahnuodqyblwsi.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_your_publishable_key
VITE_SUPABASE_AUTH_REDIRECT_URL=https://decide-por-mi-mmsf84-3676s-projects.vercel.app/auth/callback
SUPABASE_URL=https://ulsctzkahnuodqyblwsi.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_your_publishable_key
